@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/main.css */
@font-face {
    font-family: 'BRFirma-Bold';
    src: url('/fonts/BRFirma-Bold.woff2') format('woff2'),
         url('/fonts/BRFirma-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  